<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GymApp</title>
</head>
<body>
    <nav>
        <h1><span>G</span>ym<span>R</span>at</h1>
        <ul>
           <li><a href="#">HOME</a></li> 
           <li><a href="#">OFFER</a></li> 
           <li><a href="#">NEARGYM</a></li> 
           <li><a href="#">CONTACT</a></li> 
           <button>JOIN NOW</button>
        </ul>
    </nav>
    <div class="container">
        <div class="text">
        <h1><span>G</span>ym<span>R</span>at CLUB</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque ipsum inventore quia modi dolore. Neque, necessitatibus tempore quos alias asperiores reiciendis voluptatum unde quia a dolores fugit,
             accusantium temporibus expedita!</p>
             <button>JOIN NOW</button>
        </div>
    </div>
</body>
</html>